<h3>{{viewTitle}}</h3>
<form action="/product" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{product._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" value="{{product.name}}" placeholder="Name">
        <div class="text-danger">
            {{product.NameError}}
        </div>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price" value="{{product.price}}" placeholder="Price">
    </div>
    <div class="form-group md-6">
            <label>Image</label>
            <input type="file" name="Image" placeholder="image" value="{{product.image}}" class="form-control">
         <br/>
         {{!-- <input type = "submit" value = "Upload File" /> --}}
      </form>
        </div>
    <div class="form-row">
        <div class="form-group md-6">
            <label>Description</label>
            <input type="text" name="Description" placeholder="description" value="{{product.description}}" class="form-control">

        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
        <a href="/product/listP" class="btn btn-danger">
            <i class="fa fa-list-alt"></i>View All
        </a>
    </div>
</form>