<h3>{{viewTitle}}</h3>
<form action="/product" method="POST" autocomplete="off" enctype="multipart/form-data">
    <input type="hidden" name="_id" value="{{product._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" value="{{product.name}}" placeholder="Name">
        <div class="text-danger">
            {{product.NameError}}
        </div>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price" value="{{product.price}}" placeholder="Price">
    </div>
    <div class="form-group md-6">
        <label>Image</label>
        <input type="file" name="image" placeholder="image" value="" class="form-control">
    </div>
    <div class="form-group md-6">
        <label>Description</label>
        <input type="text" name="description" placeholder="description" value="{{product.description}}"
            class="form-control">
    </div>
    <div class="form-group md-6">
        <select class="dropdown btn btn-primary dropdown-toggle mt-2 mb-2" name="store">
            <option value="Store 1">Store 1</option>
            <option value="Store 2">Store 2</option>
            <option value="Store 3">Store 3</option>
        </select>
    </div>
    <div class="form-group md-6">
        <select class="dropdown btn btn-primary dropdown-toggle mt-2 mb-2" name="category">
            <option value="Lego">Lego</option>
            <option value="Model car">Model Car</option>
            <option value="Superheroes">Superheroes</option>
            <option value="Remote control aircraft">Remote control aircraft</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
        <a href="/product/listP" class="btn btn-danger">
            <i class="fa fa-list-alt"></i>View All
        </a>
    </div>
</form>